/* LAYOUT */
.quizCard {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "timer question number" "previous question next" "cancel question submit";
    gap: 10px 10px;
}

#timer {
    grid-area: timer;
}
#number {
    grid-area: number;
}
#prevButton {
    grid-area: previous;
}
#nextButton {
    grid-area: next;
}
#cardContent {
    grid-area: question;
    place-self: center stretch;
}
#cancelButton {
    grid-area: cancel;
}
#submitButton {
    grid-area: submit;
}

/* STYLING */
.infoBox {
    font-size: 10px;
    justify-self: center;
    border: 2px gray solid;
    border-radius: 25px;
    padding: 5px; 
}
button {
    background-color: white;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
}