/* LAYOUT */
body {
    text-align: center;
    background-color: rgb(9, 71, 100);
    position: relative;
}
.wrapper {
    /*display: inline-block;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, +35%);
    
}
.quizCard {
    display: grid;
    grid-template-columns: 100px 400px 100px;
    grid-template-rows: 100px auto;
    grid-template-areas: "banner banner banner" "timer question number" "previous question next" "cancel question submit";
    gap: 10px 10px;
    background-color: #427c86;
}
#banner {
    grid-area: banner;
   
    color: yellow;
    margin: auto;
}
#banner article {
    font-size: 5px;
}

#timer {
    grid-area: timer;
}
#number {
    grid-area: number;
}
#prevButton {
    grid-area: previous;
}
#nextButton {
    grid-area: next;
}
#cardContent {
    grid-area: question;
    place-self: center stretch;
}
#cancelButton {
    grid-area: cancel;
}
#submitButton {
    grid-area: submit;
}

/* STYLING */
.infoBox {
    font-size: 10px;
    justify-self: center;
    border: 2px gray solid;
    border-radius: 25px;
    padding: 5px; 
}
button {
    background-color: white;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    margin: 5px 10px 5px 10px;
}